{% extends "base.html" %}
{% load staticfiles %}

{% block menu_upper %}
    <div id="overlay"></div>
    <div id="video-container"></div>
    <div id="video-controls">
        <span class="glyphicon glyphicon-remove" id="close-video"></span>
    </div>
    <div id="wd1" class="slide-section destination" page-slide="1" data-stellar-background-ratio="0.5">
        <div class="container-fluid">
            <div id="center-control" class="on-center destination-up" page-slide="1">
                <div id="center-content">
                    <h1 class="sz-headline">What is your water day?</h1>
                    <h3 class="sz-description">For some, the day they get access to safe water will be one of the best days of their life.</h3>
                    <a id="play-button" class="pound" href="#">
                        <img src="{% static "img/play-button-sm.png" %}" />
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
<!-- down button -->
<div class="container">
    <div id="down-arrow-container" class="slide-link" page-slide="2"></div>
</div>

<div id="about" class="slide-section destination" page-slide="2">
    <div class="container">
        <div class="content destination-up" page-slide="2">
            <h1 class="sz-headline-intro">Give Someone Their</h1>
            <h2 class="sz-headline">Water Day</h2>
            <p class="sz-content">
            The moment that gave you so much joy you couldn't help but jump up and down. The time you were so inspired by hope it brought tears to your eyes. The day you said you would remember forever. We honor these special moments as we celebrate Water Day 2014, because, for many, the day they get access to safe water is one they will never forget.
            </p>
            <p class="sz-content">
            For $25 you can give someone a water day.
            </p>
            <p>
                <a id="main-donate" class="btn btn-default btn-blue" href="https://contribute.water.org/donate/waterday/?utm_source=waterday_org&utm_medium=web&utm_campaign=button_homepage">Donate</a>
            </p>
        </div>
    </div>
</div>

<div id="work" class="slide-section destination" page-slide="3">
    <div class="container">
        <div class="content">
            <h1 class="sz-headline-intro">Follow us in</h1>
            <h2 class="sz-headline">Kenya</h2>
            <p>
            In honor of Water Day, Water.org has joined up with Instagram creators. Follow Benjamin Heath, Steph Goralnick, Simone Bramante and Water.org on Instagram starting March 19th as we capture special water days throughout Kenya.
            </p>
        </div>
    </div>
    <div class="clearfix destination-up" page-slide="3">
        <div class="gallery-item">
            <div class="gallery-info">
                <label>Steph Goralnick</label>
                <div class="copy">View Steph's field visit to Kenya on Instagram.</div>
                <div class="action view"><a target="_blank" href="http://instagram.com/sgoralnick/">View</a></div>
                <div class="copy">Join Steph and give someone in need access to safe water.</div>
                <div class="action donate"><a target="_blank" href="https://contribute.water.org/donate/waterday-goralnick/?utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">Donate</a></div>
            </div>
            <img src="{% static "img/profile1.jpg" %}" />
        </div>
        <div class="gallery-item">
            <div class="gallery-info">
                <label>Benjamin Heath</label>
                <div class="copy">View Benjamin's field visit to Kenya on Instagram.</div>
                <div class="action view"><a target="_blank" href="http://instagram.com/benjaminheath/">View</a></div>
                <div class="copy">Join Benjamin and give someone in need access to safe water.</div>
                <div class="action donate"><a target="_blank" href="https://contribute.water.org/donate/waterday-heath/?utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">Donate</a></div>
            </div>
            <img src="{% static "img/profile2.jpg" %}" />
        </div>
        <div class="gallery-item">
            <div class="gallery-info">
                <label>Simone Bramante</label>
                <div class="copy">View Simone's field visit to Kenya on Instagram.</div>
                <div class="action view"><a target="_blank" href="http://instagram.com/brahmino/">View</a></div>
                <div class="copy">Join Simone and give someone in need access to safe water.</div>
                <div class="action donate"><a target="_blank" href="https://contribute.water.org/donate/waterday-bramante/?utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">Donate</a></div>
            </div>
            <img src="{% static "img/profile3.jpg" %}" />
        </div>
        <div class="gallery-item">
            <div class="gallery-info">
                <label>Water.org</label>
                <div class="copy">View Water.org's field visit to Kenya on Instagram.</div>
                <div class="action view"><a target="_blank" href="http://instagram.com/water/">View</a></div>
                <div class="copy">Join Simone and give someone in need access to safe water.</div>
                <div class="action donate"><a target="_blank" href="https://contribute.water.org/donate/waterday/?utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">Donate</a></div>
            </div>
            <img src="{% static "img/profile4.jpg" %}" />
        </div>
    </div>
</div>

<div id="share" class="slide-section destination" page-slide="4">
    <div class="container">
        <div class="content" page-slide="4">
            <h1 class="sz-headline-intro">Share</h1>
            <h2 class="sz-headline">Your Water Day</h2>
            <p class="sz-content">
            What's your water day? Using any of these social channels share one of your best moments with us by tagging the photo #waterday.
            </p>
                <ul class="share-links">
                    <li><a target="_blank" href="//www.facebook.com/"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a target="_blank" href="//twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="//instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="//plus.google.com/"><i class="fa fa-google-plus-square"></i></a></li>
                </ul>
            <div class="divider"></div>
            <p class="sz-content">
                <img src="{% static "img/donate-photo-logo.png" %}" />
            </p>
            <p class="sz-content">
            Make your share count for more by donating a photo. For each photo donated via the Donate A Photo App, Johnson & Johnson will donate $1 to Water.org.
            </p>
            <p class="sz-content">
                <a id="main-share" class="btn btn-default btn-blue" target="_blank" href="http://www.donateaphoto.com/">Donate A Photo</a>
            </p>
            <p class="sz-content">
            Your shared photos will appear below as we celebrate best days all around the world.
            </p>
        </div>
    </div>

    <div class="instagram clearfix">
        {% for image in instagram_images %}
        <div id="{{ image.instagram_id }}" class="gallery-item">
            <div class="gallery-info">
                <div class="action view">
                    <a target="_blank" href="{{ image.link }}">{{ image.username }}</a>
                </div>
            </div>
            <a target="_blank" href="{{ image.link }}">
                <img class="instagram-image" src="{{ image.thumbnail_url }}" />
            </a>
        </div>
        {% endfor %}
    </div>
</div>


<div id="fundraise" class="slide-section destination" page-slide="5">
    <div class="container">
        <div class="content" page-slide="5">
            <p class="sz-content">
            Start a fundraiser to give someone their water day.
            </p>
            <p class="sz-content">
            Help change the future of 780 million people who need safe water. You think of the idea, we'll help you make it happen.
            </p>
            <p>
                <a id="main-fundraise" class="btn btn-default btn-blue" target="_blank" href="http://give.water.org/?utm_source=waterday_org&utm_medium=web&utm_campaign=button_bottom_homepage">Start My Fundraiser</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
