{% extends "base.html" %}
{% load staticfiles %}

{% block head_extra %}
    <meta property="og:title" content="Water Day"/>
    <meta property="og:image" content="http://www.waterday.org/static/img/wd1-bg.jpg"/>
    <meta property="og:url" content="http://www.waterday.org/"/>
    <meta property="og:site_name" content="Water Day"/>
    <meta property="fb:app_id" content="179415965430010"/>
{% endblock %}

{% block menu_upper %}
    <div id="overlay"></div>
    <div id="video-container"></div>
    <div id="video-controls">
        <span class="glyphicon glyphicon-remove" id="close-video"></span>
    </div>
    <div id="wd1" class="slide-section destination" page-slide="1" data-stellar-background-ratio="0.5">
        <div class="container-fluid">
            <div id="center-control" class="on-center destination-up" page-slide="1">
                <div id="center-content">
                    <h1 class="sz-headline">What is your water day?</h1>
                    <h3 class="sz-description">For some, the day they get access to safe water will be one of the best days of their life.</h3>
                    <a id="play-button" class="pound" href="#">
                        <img src="{% static "img/play-button-sm.png" %}" />
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
<!-- down button -->
<div class="container">
    <div id="down-arrow-container" class="slide-link" page-slide="2"></div>
</div>

<div id="about" class="slide-section destination" page-slide="2">
    <div class="container">
        <div class="content destination-up" page-slide="2">
            <h1 class="sz-headline-intro">Give Someone Their</h1>
            <h2 class="sz-headline">Water Day</h2>
            <p class="sz-content">
            The moment that gave you so much joy you couldn't help but jump up and down. The time you were so inspired by hope it brought tears to your eyes. The day you said you would remember forever. For many, the day they get access to safe water is one they will never forget.
            </p>
            <p class="sz-content">
            For $25 you can give someone a water day.
            </p>
            <p>
                <a id="main-donate" class="btn btn-default btn-blue" href="https://contribute.water.org/donate/waterday/?a=A00500&c=Stripe&utm_source=waterday_org&utm_medium=web&utm_campaign=button_homepage">Donate</a>
            </p>
        </div>
    </div>
</div>

<div id="work" class="slide-section destination" page-slide="3">
    <div class="container">
        <div class="content">
            <h1 class="sz-headline-intro">Water Days In</h1>
            <h2 class="sz-headline">Kenya, Africa</h2>
            <p>
            When it comes to water, it's about the communities we serve. These communities are resilient, full of hope and with access to water, full of life. Photographers Benjamin Heath, Steph Goralnick and Simone Bramante joined Water.org to tell the powerful stories of those we serve in Kenya. 
            </p>
        </div>
    </div>
    <div class="clearfix destination-up" page-slide="3">
        <div class="gallery-item">
            <div class="gallery-info">
                <label>Steph Goralnick</label>
                <div class="copy">Learn more about Steph's field visit to Kenya with Water.org.</div>
                <!--
                <div class="action view"><a target="_blank" onclick="ga('send', 'event', 'link:external', 'click', 'instagram.org/sgoralnick/');" href="http://instagram.com/sgoralnick/">View</a></div>
                -->
                <div class="action view"><a target="_blank" href="https://contribute.water.org/donate/waterday-goralnick/?a=A00500&c=Stripe&utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">View</a></div>
                <div class="copy">Join Steph and give someone in need access to safe water.</div>
                <div class="action donate"><a target="_blank" href="https://contribute.water.org/donate/waterday-goralnick/?a=A00500&c=Stripe&utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">Donate</a></div>
            </div>
            <img src="{% static "img/profile1.jpg" %}" />
        </div>
        <div class="gallery-item">
            <div class="gallery-info">
                <label>Benjamin Heath</label>
                <div class="copy">Learn more about Benjamin's field visit to Kenya with Water.org.</div>
                <!--
                <div class="action view"><a target="_blank" onclick="ga('send', 'event', 'link:external', 'click', 'instagram.org/benjaminheath/');" href="http://instagram.com/benjaminheath/">View</a></div>
                -->
                <div class="action view"><a target="_blank" href="https://contribute.water.org/donate/waterday-heath/?a=A00500&c=Stripe&utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">View</a></div>
                <div class="copy">Join Benjamin and give someone in need access to safe water.</div>
                <div class="action donate"><a target="_blank" href="https://contribute.water.org/donate/waterday-heath/?a=A00500&c=Stripe&utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">Donate</a></div>
            </div>
            <img src="{% static "img/profile2.jpg" %}" />
        </div>
        <div class="gallery-item">
            <div class="gallery-info">
                <label>Simone Bramante</label>
                <div class="copy">Learn more about Simone's field visit to Kenya with Water.org.</div>
                <!--
                <div class="action view"><a target="_blank" onclick="ga('send', 'event', 'link:external', 'click', 'instagram.org/brahmino/');" href="http://instagram.com/brahmino/">View</a></div>
                -->
                <div class="action view"><a target="_blank" href="https://contribute.water.org/donate/waterday-bramante/?a=A00500&c=Stripe&utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">View</a></div>
                <div class="copy">Join Simone and give someone in need access to safe water.</div>
                <div class="action donate"><a target="_blank" href="https://contribute.water.org/donate/waterday-bramante/?a=A00500&c=Stripe&utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">Donate</a></div>
            </div>
            <img src="{% static "img/profile3.jpg" %}" />
        </div>
        <div class="gallery-item">
            <div class="gallery-info">
                <label>Water.org</label>
                <div class="copy">Learn more about Water.org's field visit to Kenya.</div>
                <!--
                <div class="action view"><a target="_blank" onclick="ga('send', 'event', 'link:external', 'click', 'instagram.org/water/');" href="http://instagram.com/water/">View</a></div>
                -->
                <div class="action view"><a target="_blank" href="https://contribute.water.org/donate/waterday/?a=A00500&c=Stripe&utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">View</a></div>
                <div class="copy">Join Water.org and give someone in need access to safe water.</div>
                <div class="action donate"><a target="_blank" href="https://contribute.water.org/donate/waterday/?a=A00500&c=Stripe&utm_source=waterday_org&utm_medium=web&utm_campaign=button_grid">Donate</a></div>
            </div>
            <img src="{% static "img/profile4.jpg" %}" />
        </div>
    </div>
</div>

<!--
<div id="share" class="slide-section destination" page-slide="4">
    <div class="container">
        <div class="content" page-slide="4">
            <h1 class="sz-headline-intro">Share</h1>
            <h2 class="sz-headline">Your Water Day</h2>
            <p class="sz-content">
            What's your water day? Using Instagram share one of your best moments with us by tagging the photo <span style="font-weight:bold; color:#555;">#waterday</span>. And, for each photo donated to Water.org via the Donate A Photo app, Johnson &amp; Johnson will donate $1 to help give someone their water day.* 
            </p>
            <div class="clearfix share-gallery">
                <div class="share-gallery-item">
                    <p>
                        <img src="{% static "img/inst-col1.jpg" %}" />
                    </p>
                    <p>
                        <a class="btn btn-default btn-blue" target="_blank" onclick="ga('send', 'event', 'link:external', 'click', 'instagram.org/');" href="http://www.instagram.com/">Share My Water Day</a>
                    </p>
                </div>
                <div class="divider"></div>
                <div class="share-gallery-item">
                    <p>
                        <img src="{% static "img/dap-col2.jpg" %}" />
                    </p>
                    <p>
                        <a id="main-share" class="btn btn-default btn-blue" target="_blank" onclick="ga('send', 'event', 'link:external', 'click', 'donateaphoto.com/cause/waterorg/');" href="http://www.donateaphoto.com/cause/waterorg/">Donate A Photo</a>
                    </p>
                </div>
            </div>
            <p class="sz-content">
            Your shared photos will appear below as we celebrate best days all around the world.
            </p>
        </div>
    </div>

    <div class="instagram clearfix">
        {% for image in instagram_images %}
        <div id="{{ image.instagram_id }}" class="gallery-item">
            <div class="gallery-info">
                <div class="action view">
                    <a target="_blank" onclick="ga('send', 'event', 'link:external', 'click', 'instagram.org/gallery/{{ image.username }}/');" href="{{ image.link }}">{{ image.username }}</a>
                </div>
            </div>
            <a target="_blank" href="{{ image.link }}">
                <img class="instagram-image" src="{{ image.thumbnail_url }}" />
            </a>
        </div>
        {% endfor %}
    </div>
</div>
-->


<div id="fundraise" class="slide-section destination" page-slide="5">
    <div class="container">
        <div class="content" page-slide="5">
            <p class="sz-content">
            Start a fundraiser to give someone their water day.
            </p>
            <p class="sz-content">
            Help change the future of 780 million people who need safe water. You think of the idea, we'll help you make it happen.
            </p>
            <p>
                <a id="main-fundraise" class="btn btn-default btn-blue" target="_blank" href="http://give.water.org/?utm_source=waterday_org&utm_medium=web&utm_campaign=button_bottom_homepage">Start My Fundraiser</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block footer_inner_base %}
<div>
*Johnson &amp; Johnson has curated a list of trusted causes, and you can donate a photo to one cause, once a day. Each cause will appear in the app until it reaches its goal, or the donation period ends. If the goal isn't reached, the cause will still get a minimum donation.
</div>
{% endblock %}
